<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AppBoloesLoterias</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-boloes">
                <span class="bi bi-ticket-detailed-fill-nav-menu" aria-hidden="true"></span> Meus Bolões
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-participantes">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Participantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-concursos">
                <span class="bi bi-dice-5-fill-nav-menu" aria-hidden="true"></span> Concursos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastro-participante">
                <span class="bi bi-person-plus-nav-menu" aria-hidden="true"></span> Cadastrar Membro
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}